<!DOCTYPE html>
<html>
  <head>
    <title>GroupsortDevbootcamp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= render partial: 'devise/shared/links', locals: { resource_name: User.new } %>

    <%if user_signed_in? %>
      <p>
        <%= link_to('logout', destroy_user_session_path, method: :delete) %>
      </p>
    <%end%>


    <%= yield %>
  </body>
</html>
